<?xml version="1.0" encoding="utf-8" ?>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>

      <register type="Interfaces.IRepository[], Interfaces"
                mapTo="DataRepositories.Repositories.GenericRepository[], DataRepositories"></register>
      <register type="Interfaces.ITempService, Interfaces"
                mapTo="Services.TempService1, Services" name="service1"/>
      <register type="Interfaces.ITempService, Interfaces"
                mapTo="Services.TempService3, Services" name="service3"/>
      <register type="Interfaces.ITempService, Interfaces"
                mapTo="Services.TempService2, Services"/>
      <register type="Interfaces.IAuthenticationService, Interfaces"
                mapTo="Services.AuthenticationService, Services"></register>
      <register type="Interfaces.ICryptoService, Interfaces"
                mapTo="Services.CryptoService, Services"></register>
      <register type="Interfaces.IRoleService, Interfaces"
                mapTo="Services.RoleService, Services"></register>
      <register type="Interfaces.ILogService, Interfaces"
                mapTo="Services.DatabaseLogService, Services"></register>
    </container>
  </unity>
